* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.gjs-link {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: color 0.3s ease 0s;
}

#iffs {
	flex: 0 1 auto;
}

#iyd2 {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgb(28, 28, 28);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#i6po {
	justify-content: center;
	position: sticky;
	top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#itjq {
	width: 100%;
	max-width: 1200px;
}

#it00l {
	padding-top: 0px;
	padding-bottom: 0px;
}

#icfyb {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(108, 90, 90, 0);
	color: rgba(255, 255, 255, 1);
}

#irtfd {
	flex: 0 1 auto;
}

#i88iz {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	color: rgba(255, 255, 255, 1);
}

#icyzp {
	flex: 0 1 auto;
}

#iau9 {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(rgb(18, 18, 18) 1%, rgb(18, 18, 18) 100%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: #475569;
}

.gjs-grid-column.feature-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 30%;
}

.gjs-grid-column.testimonial-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 45%;
	background-color: rgba(247, 247, 247, 0.23);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	align-items: flex-start;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
}

#ilriti {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#iv3be5 {
	justify-content: center;
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

#it6g1v {
	padding: 10px;
	text-align: center;
	font-size: 0.8rem;
	margin-top: 20px;
	opacity: 75%;
	color: rgba(255, 255, 255, 1);
	position: relative;
	left: 0px;
	top: 294px;
}

.gjs-text-blue {
	color: rgb(36, 99, 235);
}

.gjs-link:hover {
	color: rgb(36, 99, 235);
	text-decoration: underline;
}

#infmy1 {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	color: rgba(255, 255, 255, 1);
}

#ixjah {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	color: rgba(255, 255, 255, 1);
}

#iciug {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	color: rgba(255, 255, 255, 1);
}

#in0fg {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	color: rgba(255, 255, 255, 1);
	position: relative;
	left: 626px;
}

#ivl95 {
	padding: 10px;
	color: rgba(255, 255, 255, 1);
	position: relative;
	top: 44px;
	font-size: 41px;
	left: 152px;
}

#i6c2m {
	padding: 10px;
	color: rgba(255, 255, 255, 1);
	position: relative;
	top: 44px;
	left: 776px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 455px;
	height: 18px;
}

#id7da {
	position: relative;
	left: 700px;
}

@media (max-width:992px) {
	.gjs-grid-row {
		flex-direction: column;
	}

	#iyd2 {
		flex-direction: row;
	}

	#it00l {
		flex-direction: row;
	}
}

@media (max-width:768px) {
	#iffs {
		display: none;
	}
}
